<%- include("partials/header") %>

    <div class="content"> <!--Add Filter, sort, search functionality-->
        <div class="row align-items-center mb-5">
            <div class="col-lg-3 mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="inputGroupSelect01">Filter</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>All...</option>
                        <option value="1">Watched</option>
                        <option value="2">Currently Watching</option>
                        <option value="3">Have to Watch</option>
                    </select>
                </div>
            </div>           
            <div class="col-lg-3 mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="inputGroupSelect01">Sort</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Rating (Highest Rated First)</option>
                        <option value="2">Rating (Lowest Rated First)</option>
                        <option value="3">Added Date (New to Old)</option>
                        <option value="4">Added Date (Old to New)</option>
                    </select>
                </div>
            </div> 
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Using Movie Name or Genre" aria-label="Search for a Movie">
                    <button class="btn btn-primary" type="button">Search</button>
                    <button class="btn btn-secondary" type="button">Reset</button>
                </div>
            </div>
        </div>   
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% movies.forEach(function(movie) { %>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <div class="card-text">
                            <p>Movie Name: <%= movie.movie_name  %></p>
                            <p>Your Rating: 
                                <% for(let i = 1; i <= 5; i++){%>
                                    <span class="fa fa-star <%= i <= movie.rating ? 'checked' : '' %>"></span>
                                <% }; %>
                            </p>                            
                            <p>Genre: <%= movie.genre.join(", ") %></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ms-auto">
                                <a href="/view/<%= movie.id %>" class="btn btn-sm btn-success">View</a>
                                <form action="/delete" method="POST" class="d-inline">
                                    <input type="hidden" name="id" value="<%= movie.id %>">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button><!--Prompt to confirm delete-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <% }); %>
        </div>
    </div>   
        
    <%- include("partials/footer") %>